* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;   

}
section {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
body {
    background-color: gold;
}

h2, h3, header {
    font-family: 'Titillium Web', sans-serif;
    padding-bottom: 10px;
    color: black;
}
h3 {
    font-size: 24px;
}
p {
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
}
a {
    padding: 10px;
    color: rgb(29, 29, 29);
}
header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    background-color: rgb(34, 36, 146);
    color: #fff;
    letter-spacing: 2px;
    font-size: 20px;
}

.container li,
#contato .links-rede li {
    display: inline;
}
.container li:hover,
.links-direcionado li:hover,
#container-filmes a:hover,
button:hover {
    background-color:rgb(250, 229, 110);
    border-radius: 10px;
    font-weight: bold;
    padding: 10px;
}

.container li a {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    padding: 16px;
}

.links-direcionado li{
    display: inline;
    margin-left: 15px;
}

.encontre,
.links-direcionado  {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Titillinium web', sans-serif;
    font-size: 20px;
}
#container-filmes a,
.links-direcionado li a,
#contato .links-rede li a {
    text-decoration: none;
}
#container-filmes {
    display: block;
    margin-bottom: 45px;
}
#container-filmes img {
    height: 180px;
}
#comedia-romance,
#acao-ficcao,
#suspense-terror {
    display: flex;
    align-items: flex-start;
    padding: 20px;
}
#comedia-romance div,
#acao-ficcao div,
#suspense-terror div {
    padding: 10px 30px 10px 10px;

}
.container .about {
    display: flex;
    align-items:flex-start;
    padding: 40px;
}
.container .sobre_loja {
    padding-left: 20px;
}

#contato {
    display: flex;
}

#contato .formulario {
    width: 600px;
}
.formulario {
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    padding: 20px;   
}
.cadastro {
    padding: 10px;
}
.cadastro input,
.cadastro textarea,
.cadastro button {
    display: block;
    width: 100%;
    height: 30px;
    padding: 16px;
    font-size: 16px;
    border-radius: 5px;
}
.cadastro textarea {
    height: 180px;
    resize: none;
}


#contato .links {
    width: 600px;
    padding: 20px;
}
#contato .links-rede img {
    height: 24px;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    line-height: 50px;
    color: #f1f1f1;
}